[submodule "datasrc/languages"]
	path = datasrc/languages
	url = https://github.com/teeworldsarchive/teeworlds-translation.git
	branch = master
[submodule "datasrc/maps"]
	path = datasrc/maps
	url = https://github.com/teeworldsarchive/teeworlds-maps.git
	branch = old
